<div class=" bg-[rgba(0,0,0,0.8)] absolute bottom-0 w-full py-3 px-4 text-white">
  <h3 class="font-bold text-lg">Play It Now!</h3>
  <div class="flex justify-between items-end ">

      <div class="border-l-4  border-blue-600 ">
            <span class="px-3 text-lg font-semibold">{{gameDistribution}}</span>

          <span class="border-l px-1 text-lg opacity-75 font-bold tracking-wider">
            {{gameType}}
          </span>
      </div>




    <div class="text-white flex items-center font-bold text-2xl">
    {{gamePrice}}
    </div>

</div>


</div>
