<div class="grid grid-cols-3 justify-items-center">
  <app-card
  gameCover="assets/bf4.avif"
  gameLabel="Best Of Year"
  gamePrice="R$ 269,99"
  gameDistribution="Download"
  gameType="PS3"
  ></app-card>

  <app-card
  gameCover="assets/fifa.avif"
  gameLabel="Exclusive"
  gamePrice="R$ 121,99"
  gameDistribution="Full Game"
  gameType="PS5"
  ></app-card>

  <app-card
  gameCover="assets/nba.webp"
  gameLabel="Digital"
  gamePrice="R$ 9,99"
  gameDistribution="Digital"
  gameType="PS4"
  ></app-card>
</div>

